<div class="navbar">
    <button class="accent" @onclick="Register">Register</button>
    <button class="main" @onclick="Logout">Log out</button>
    <button class="accent" @onclick="Login">Log in</button>
</div>

@code {
    public void Register() { }
    public void Logout() { }
    public void Login() { }
}