@page "/"
@namespace CVWebsite.Pages
@using CVWebsite.Pages.Components;
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Laura Poortenaar</title>
    <base href="~/" />
    <link rel="stylesheet" href="css/bootstrap/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/App.min.css" />
</head>
<body>
    <app>
        <component type="typeof(App)" render-mode="Static" />
    </app>
    <script src="_framework/blazor.server.js"></script>
    <script type="text/javascript" async src="//cdn.youracclaim.com/assets/utilities/embed.js"></script>
</body>
</html>
