@page "/"
@using CVWebsite.Pages.Components;
@using CVWebsite.Data.Models;


<HeaderComponent Content="Hello, test" Type="HeaderComponent.HEADER_TYPES.LARGE"></HeaderComponent>
<HeaderComponent Content="Hello, test" Type="HeaderComponent.HEADER_TYPES.MEDIUM"></HeaderComponent>
<HeaderComponent Content="Hello, test" Type="HeaderComponent.HEADER_TYPES.SMALL"></HeaderComponent>
<div class="collapsible-container">
    <CollapsibleComponent Heading="MTA Certificaten">
        <BadgeComponent requestedCategory="Badge.CATEGORY.MTA"></BadgeComponent>
    </CollapsibleComponent>
    <CollapsibleComponent Heading="OFFICE Certificaten">
        <BadgeComponent requestedCategory="Badge.CATEGORY.OFFICE"></BadgeComponent>
    </CollapsibleComponent>
</div>

