@inherits LayoutComponentBase
@using CVWebsite.Pages

<AuthorizeView>
    <Authorized>


        <div class="main">
            <div class="top-row px-4 auth">
                <LoginDisplay />
            </div>

            <div class="content px-4">
                @Body
            </div>
        </div>
    </Authorized>
    <NotAuthorized>
        <RedirectToLogin></RedirectToLogin>
    </NotAuthorized>
</AuthorizeView>


