@import '../Helper.scss';
@import '../Theme.scss';

$right-bar-space: 240px;
$badge-size: 80px;

.github {
    &-button {
        @include flex-row;
        max-width: $right-bar-space;
        height: 60px;
        background-color: black;
        box-shadow: $button-shadow;
        border-radius: 4px;
        border: 1px solid black;
        cursor: pointer;
        color: white;
        & span {
            padding: 8px;
            font-family: "Questrial", sans-serif;
        }
        & i {
            color: white;
            padding: 0 6px;
            &:before {
                font-size: 54px;
            }
            &:last-child {
                padding-left: 12px;
            }
        }

        &:hover {
            & > i.fa-angle-right {
                padding-left: 8px;  
                &:before {
                    content: "\f101";
                }
            }
        }
    }
}

.badge {
    &-container {
        margin-bottom: 12px;

        & img {
            min-width: $badge-size;
            min-height: $badge-size;
            width: $badge-size;
            height: $badge-size;
        }

        & a {
            @include flex-row;
            text-decoration: none;
            color: black !important;
        }
    }
}

.collapsible {
    max-width: $right-bar-space;
    min-height: 62px;
    transition: min-height 3s;
    @include border;

    &-container {
        @include flex-column-center;
        float: right;

        & > div {
            margin: 6px 0;
        }
    }

    &-header {
        @include flex-row;
        justify-content: space-around;
        cursor: pointer;
        padding: 6px 12px;

        &.out {
            justify-content: space-between;
        }
        & .header {
            margin: 4px 20px 4px 4px;
        }
        & i {
            font-size: 36px;
        }
        &:hover {
            & > * {
                color: $main-color;
            }
        }
    }

    &-body {
        padding: 6px 20px;
    }
}

.header {
    @include font-quest;
    &.sm {
        font-size: 16px;
        font-weight: 600;
    }

    &.md {
        font-size: 24px;
        font-weight: 600;
    }

    &.lg {
        font-size: 36px;
        font-weight: 600;
    }
}