@import 'Helper.scss';
@import 'Theme.scss';
@import 'Component.scss';
@import url('../css/open-iconic/font/css/open-iconic-bootstrap.min.css');

.top-nav {
    @include flex-row-end;
    position: sticky;
    top: 0;
    height: 6vh;
    background-color: $bar-color;
    border-bottom: 1px solid #d6d5d5;
    & > a, form {
        margin-left: 12px;
    }
}

body {
    height: 100%;
    min-height: 100vh;
    & > app {
        min-height: inherit;
    }
}

.footer {
    overflow: hidden;
    height: 6vh;
    position: sticky;
    bottom: 0px;
    background-color: #ffffff;

    & > div.container {
        height: inherit;
        @include flex-row-center;
    }
}



