@import 'Helper.scss';
@import 'Theme.scss';
@import 'Component/Component.scss';
@import url('../css/open-iconic/font/css/open-iconic-bootstrap.min.css');

.navbar {
    @include flex-row-end;
    position: sticky;
    top: 0;
    height: 6vh;
    background-color: $bar-color;
    box-shadow: 0px 2px 4px $navbar-shadow;
    & button {
        margin-right: 6px;
    }
}

body {
    /*height: 100%;*/
    /*min-height: 100vh;*/
    margin: 0;

    /*& > app {
        min-height: inherit;
    }*/

    & * {
        @include font-roboto;
    }
}
.content {
    width: 100%;
    height: calc(100vh - 12vh);
}
footer {
    @include flex-row-center;
    height: 6vh;
    position: fixed;
    bottom: 0px;
    width: 100%;
    background-color: $bar-color;
}



