@import 'Helper.scss';
@import 'Theme.scss';

.badge {
    &-container {
        margin-bottom: 12px;
        & img {
            min-width:80px;
            min-height:80px;
            width: 80px;
            height: 80px;
        }
        & a {
            @include flex-row;
            text-decoration: none;
            color: black !important;
        }
    }
}

.collapsible {
    max-width: 240px;
    min-height: 62px;
    transition: min-height 3s;
    @include border;

    &-container {
        @include flex-column-center;
        float: right;

        & > div {
            margin: 6px 0;
        }
    }

    &-header {
        @include flex-row;
        justify-content: space-around;
        cursor: pointer;
        padding: 6px 12px;

        &.out {
            justify-content: space-between;
        }
        & .header {
            margin: 4px 20px 4px 4px;
        }
        & .oi {
            padding: 4px;
        }
        &:hover {
            & > * {
                color: $main-color;
            }
        }
    }

    &-body {
        padding: 6px 20px;
    }
}

.header {
    @include font-quest;
    &.sm {
        font-size: 16px;
        font-weight: 600;
    }

    &.md {
        font-size: 24px;
        font-weight: 600;
    }

    &.lg {
        font-size: 36px;
        font-weight: 600;
    }
}