$main-color: pink;
$accent-color: indigo;
$bar-color: #f7f7f7;

h1 {
    color: $main-color;
}

button {
    background-color: $accent-color !important;
    color: white;
    border-radius: 4px;
    border: $accent-color;
    padding: 4px 8px;
    box-shadow: lightgrey;
    box-shadow: 2px 2px 4px lightgrey;
}

a, .navbar-brand {
    color:$accent-color !important;

}
a:hover {
    color: $main-color !important;
}
.navbar-brand:hover {
    color: $main-color !important;
}

.oi.button {
    cursor: pointer;
    &:hover, :focus, :active {
        color: $main-color;
    }
}

