@using CVWebsite.Data.Models;
@inject IJSRuntime JSRuntime;

    <div>
        @foreach (Badge badge in badges)
        {
            <h6>@badge.Title</h6><br />
            @((MarkupString)badge.Html)
        }
    </div>

@code {
    List<Badge> badges = new List<Badge>();
    [Parameter]
    public Badge.CATEGORY requestedCategory { get; set; }
    protected override void OnInitialized()
    {
        Badge getBadges = new Badge();
        badges = getBadges.GetBadges(requestedCategory);
    }
}
