<div class="collapsible">
    @if (Collapsed)
    {
        <div class="collapsible-header out" @onclick="Toggle">
            <HeaderComponent ChildContent="@Heading" Type="HeaderComponent.HEADER_TYPES.MEDIUM"></HeaderComponent>
            <span class="oi button oi-chevron-top" title="toggle down" aria-hidden="true"></span>
        </div>
        <div class="collapsible-body">@ChildContent</div>
    }
    else
    {
        <div class="collapsible-header" @onclick="Toggle" >
            <HeaderComponent ChildContent="@Heading" Type="HeaderComponent.HEADER_TYPES.MEDIUM"></HeaderComponent>
            <span class="oi button oi-chevron-bottom" title="toggle down" aria-hidden="true"></span>
        </div>
    }

</div>



@code {
    [Parameter]
    public MarkupString Heading { get; set; }
    [Parameter]
    public RenderFragment ChildContent { get; set; }

    public bool Collapsed = false;

    void Toggle() 
    {   
       Collapsed = !Collapsed;
    }
}
